<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Create your account</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipiscing elit</mat-card-subtitle>
    <div class="provider-buttons">
      <button mat-raised-button class="google" (click)="signInWithGoogle()" #loginRef>Log in with Google</button>
      <button mat-raised-button class="fb">Log in with Facebook</button>
    </div>
    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Last Name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email Address">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
      </mat-card-content>
      <mat-card-subtitle>By clicking Sign Up, you agree to our Terms of Use and our Privacy Policy.</mat-card-subtitle>
      <button mat-stroked-button color="accent" class="btn-block" (click)="createUser()">SIGN UP</button>
    </form>
  </mat-card>

</div>
